/*!
 * BRAberto 1.0.0
 * Author: Ana Carolina Fidelis Gonçalves <acarolinafg@gmail.com>
 * GitHub:
 */

// Customização do bootstrap
@import 'Custom';

html,
body {
  height: 100%;
}

.App {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

//Menu
.navbar-brand {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.75);
  border-color: transparent;
}

// Botões
.btn {
  border-radius: 0;
}

// Breadcrumb
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
}

// Estrutura padrão para as páginas
.box {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    height: 100%;
  }
}

.sidebar {
  background-color: $blue-light;
  box-shadow: inset -1px 0 0 rgba($gray-300, 0.75);
}

.btn-sidebar-close:focus,
.btn-sidebar-open:focus {
  box-shadow: none;
}

.btn-sidebar-close {
  padding: 0.3rem 0.3rem 0 0;
  margin-top: -0.5rem;
  font-size: 1rem;
}

.btn-sidebar-open {
  padding: 0 0 0 15px;
  margin-top: 0;
  font-size: 1rem;
}

.footer {
  margin-top: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .footer-dashboard {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.search-filters span + span::before {
  content: ' | ';
  padding-left: 3px;
  padding-right: 3px;
}

.content-filter {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.content-page {
  margin-bottom: 3rem;
  width: 100%;
}

.search-form {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.search-form .form-group {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .search-form {
    margin-top: -1rem;
  }
}

.search-spinner {
  height: 10rem;
  width: 10rem;
}

.search-spinner-text {
  color: $blue;
  text-align: center;
  margin-left: -7.5rem;
}

.search-loading {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.search-chart .subtitle {
  text-align: center;
  font-size: 13px;
  color: #666;
}

.search-chart .title {
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}

// Página Home
.wrapper-home {
  background: url('../../assets/images/bg-home.png') no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1 1 auto;
  flex-shrink: 0;
  width: 100%;
}

.wrapper-home div {
  color: $white;
  text-align: center;
}

.wrapper-home div > h1 {
  font-size: 7rem;
}

.wrapper-home div > p {
  font-size: 2rem;
}

@media (max-width: 575.98px) {
  .wrapper-home div > h1 {
    font-size: 4rem;
  }

  .wrapper-home div > p {
    font-size: 1rem;
  }
}

.bg-extrema-esquerda {
  background-color: #660000 !important;
}

.bg-esquerda {
  background-color: #ff0000 !important;
}

.bg-centro-esquerda {
  background-color: #ff8080 !important;
}

.bg-centro {
  background-color: #ffcc00 !important;
}

.bg-centro-direita {
  background-color: #9999ff !important;
}

.bg-direita {
  background-color: #0000ff !important;
}

.bg-extrema-direita {
  background-color: #000066 !important;
}

.progress {
  border-radius: 0;
}

.progress-bar-dark {
  color: $body-color !important;
}

.progress-bar-chart span {
  font-size: 11px;
  color: #666;
}
